.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.main h1 {
  background-position: 290px center !important;
}
.main .texto img {
  display: block;
  margin: 10px auto;
}
.main .galeria {
  margin-top: 50px;
  padding-left: 120px;
  width: 838px;
  height: 380px;
  position: relative;
  overflow: hidden;
}
.main .galeria .prev {
  position: absolute;
  top: 0;
  left: 120px;
  height: 380px;
  width: 107px;
  background: url('../_imgs/layout/seta-esquerda.png') center center no-repeat;
  z-index: 99;
}
.main .galeria .next {
  position: absolute;
  top: 0;
  right: 0;
  height: 380px;
  width: 107px;
  background: url('../_imgs/layout/seta-direita.png') center center no-repeat;
  z-index: 99;
}
.main .galeria .animate {
  height: 380px;
}
.main #pager {
  margin: 20px 0;
  font-size: 0;
  padding-left: 103px;
  margin-bottom: 70px;
}
.main #pager .pagerThumb {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-backface-visibility: hidden;
  width: 135px;
  margin-right: 15px;
  overflow: hidden;
  -webkit-transform: skew(-16deg, 0);
  -moz-transform: skew(-16deg, 0);
  -ms-transform: skew(-16deg, 0);
  -o-transform: skew(-16deg, 0);
  transform: skew(-16deg, 0);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main #pager .pagerThumb img {
  margin-left: -15px;
  -webkit-transform: skew(16deg, 0);
  -moz-transform: skew(16deg, 0);
  -ms-transform: skew(16deg, 0);
  -o-transform: skew(16deg, 0);
  transform: skew(16deg, 0);
}
