@import 'vars.less';

.main{
	h1{ background-position:290px center !important;}
	.texto{
		img{
			display:block;
			margin:10px auto;
		}
	}
	.galeria{
		margin-top:50px;
		padding-left:120px;
		width:838px;
		height:380px;
		position:relative;
		overflow:hidden;
		.prev{
			position:absolute;
			top:0;
			left:120px;
			height:380px;
			width:107px;
			background:url('../_imgs/layout/seta-esquerda.png') center center no-repeat;
			z-index:99;
		}
		.next{
			position:absolute;
			top:0;
			right:0;
			height:380px;
			width:107px;
			background:url('../_imgs/layout/seta-direita.png') center center no-repeat;
			z-index:99;
		}
		.animate{
			height:380px;
		}
	}
	#pager{
		margin:20px 0;
		font-size:0;
		padding-left:103px;
		margin-bottom:70px;
		.pagerThumb{
			.inline;
			-webkit-backface-visibility:hidden;
			width:135px;
			margin-right:15px;
			overflow:hidden;
			.inclinado(-16deg);
			.transition;
			&:active, &:visited{}
			&:hover{}
			img{
				margin-left:-15px;
				.inclinado(16deg);
			}
		}
	}
}