.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
}
@media only screen and (max-width: 960px) {
  body {
    overflow-x: auto;
  }
}
body .main {
  width: 960px;
  padding: 0 0;
  margin: 0 auto;
  position: relative;
  min-height: 600px;
}
body .main #fundo-azul {
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 600px;
  z-index: 0;
  background-color: #3776bb;
  padding-left: 9999px;
  margin-left: -9999px;
}
body .main header {
  position: relative;
  z-index: 999;
  width: 400px;
  height: 600px;
  float: left;
  background: url('../_imgs/layout/fundo-menu.png') right top no-repeat;
}
body .main header #logo-link {
  margin-top: 32px;
  display: block;
  width: 300px;
  height: 225;
}
body .main header nav {
  margin: 17px 0;
}
body .main header nav ul {
  list-style: none;
}
body .main header nav ul li {
  margin-left: -17px;
  -webkit-transform: skew(-16.5deg, 0);
  -moz-transform: skew(-16.5deg, 0);
  -ms-transform: skew(-16.5deg, 0);
  -o-transform: skew(-16.5deg, 0);
  transform: skew(-16.5deg, 0);
  overflow: hidden;
  height: 30px;
  position: relative;
}
body .main header nav ul li#mn-home {
  width: 332px;
}
body .main header nav ul li#mn-evento {
  width: 323px;
}
body .main header nav ul li#mn-programacao {
  width: 315px;
}
body .main header nav ul li#mn-ingressos {
  width: 307px;
}
body .main header nav ul li#mn-organizacao {
  width: 298px;
}
body .main header nav ul li#mn-acaosocial {
  width: 289px;
}
body .main header nav ul li#mn-comochegar {
  width: 281px;
}
body .main header nav ul li#mn-contato {
  width: 272px;
}
body .main header nav ul li a {
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #3776bb;
  text-indent: 20px;
  margin-left: -5px;
  width: 100%;
  padding-right: 10px;
  display: block;
  -webkit-transform: skew(16.5deg, 0);
  -moz-transform: skew(16.5deg, 0);
  -ms-transform: skew(16.5deg, 0);
  -o-transform: skew(16.5deg, 0);
  transform: skew(16.5deg, 0);
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main header nav ul li a:active,
body .main header nav ul li a:visited {
  color: #fff;
}
body .main header nav ul li a:hover,
body .main header nav ul li a.ativo {
  background-color: #235497;
}
body .main header .submenu {
  display: block;
  width: 128px;
  position: absolute;
  top: 342px;
  left: 142px;
  height: 90px;
  list-style: none;
}
body .main header .submenu li {
  width: 128px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
body .main header .submenu li a {
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #fff;
  display: block;
  background-color: #2C63A6;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main header .submenu li a:active,
body .main header .submenu li a:visited {
  color: #fff;
}
body .main header .submenu li a:hover,
body .main header .submenu li a.ativo {
  background-color: #235497;
}
body .main header .social-links {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-right: 5px;
}
body .main .h600 {
  padding-top: 100px;
  min-height: 485px;
  padding-left: 400px;
}
body .main .h600 h1 {
  padding-left: 80px;
  font-family: 'Source Sans', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #f6741e;
  height: 35px;
  line-height: 35px;
  background: url('../_imgs/layout/icone-titulo.png') left center no-repeat;
  margin-bottom: 12px;
}
body .main .h600 .olho {
  padding-left: 40px;
  margin-bottom: 17px;
  color: #535353;
  line-height: 140%;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
body .main .h600 .olho a {
  color: #535353;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main .h600 .olho a:active,
body .main .h600 .olho a:visited {
  color: #535353;
}
body .main .h600 .olho a:hover {
  color: #f6741e;
}
body .main .h600 .texto {
  color: #535353;
  line-height: 130%;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 40px;
}
body .main .h600 .texto p {
  margin-bottom: 12px;
}
body .main .h600 .texto a {
  color: #535353;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main .h600 .texto a:active,
body .main .h600 .texto a:visited {
  color: #535353;
}
body .main .h600 .texto a:hover {
  color: #f6741e;
}
body .main .h600 .texto ul {
  list-style: inside square;
}
body .main .h600 .texto table {
  margin-left: 38px;
  margin-top: -1px;
  border-collapse: collapse;
  width: 568px;
}
body .main .h600 .texto table thead {
  border-bottom: 3px #fff solid;
}
body .main .h600 .texto table thead tr th {
  text-align: center;
  background-color: #DFDFDF;
  border: 1px #fff solid;
  color: #3776bb;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 11px;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
}
body .main .h600 .texto table thead tr th.hor {
  width: 80px;
}
body .main .h600 .texto table thead tr th.pal {
  width: 160px;
}
body .main .h600 .texto table thead tr th.tit {
  width: 250px;
}
body .main .h600 .texto table tbody tr td {
  border: 1px #fff solid;
  text-align: center;
  padding: 18px 10px;
  background-color: #F0F0F0;
  color: #545454;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
body .main .h600 .texto table tbody tr td:first-child {
  color: #477EBE;
  background-color: #D4DEE8;
}
body .main .h600 .texto table tbody tr td a {
  color: #545454;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main .h600 .texto table tbody tr td a:active,
body .main .h600 .texto table tbody tr td a:visited {
  color: #545454;
}
body .main .h600 .texto table tbody tr td a:hover {
  color: #f6741e;
}
body footer {
  background: url('../_imgs/layout/textura-rodape.png');
}
body footer .superior {
  padding: 35px 0;
}
body footer .superior .centro {
  font-size: 0;
  width: 960px;
  padding: 0 0;
  margin: 0 auto;
  color: #fff;
}
body footer .superior .centro h3 {
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 10px;
}
body footer .superior .centro .realizacao {
  padding: 0 38px 0 0;
  border-right: 1px #9B9B99 solid;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body footer .superior .centro .realizacao img {
  display: block;
  max-width: 95px;
  max-height: 50px;
  margin: 10px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: middle;
}
body footer .superior .centro .realizacao img:first-child {
  margin-left: 0;
}
body footer .superior .centro .patrocinio {
  padding: 0 25px;
  border-right: 1px #9B9B99 solid;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body footer .superior .centro .patrocinio img {
  display: block;
  max-width: 95px;
  max-height: 50px;
  margin: 10px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: middle;
}
body footer .superior .centro .patrocinio img:first-child {
  margin-left: 0;
}
body footer .superior .centro .apoio {
  padding: 0 0 0 25px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body footer .superior .centro .apoio img {
  display: block;
  max-width: 95px;
  max-height: 50px;
  margin: 10px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: middle;
}
body footer .superior .centro .apoio img:first-child {
  margin-left: 0;
}
body footer .inferior {
  background: rgba(0, 0, 0, 0.2);
  height: 40px;
  padding: 15px 0;
  overflow: hidden;
}
body footer .inferior .centro {
  width: 960px;
  padding: 0 0;
  margin: 0 auto;
}
body footer .inferior .centro .contato {
  width: 190px;
  border-right: 1px #9B9B99 solid;
  color: #BABABA;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 11px;
  font-weight: normal;
  height: 40px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body footer .inferior .centro .contato .telefone {
  font-size: 15px;
  padding-left: 22px;
  height: 20px;
  line-height: 20px;
  background: url('../_imgs/layout/icone-telefone.png') left 4px no-repeat;
}
body footer .inferior .centro .contato .email {
  height: 20px;
  line-height: 25px;
  padding-left: 22px;
  background: url('../_imgs/layout/icone-email.png') left 7px no-repeat;
}
body footer .inferior .centro .contato .email a {
  color: #BABABA;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body footer .inferior .centro .contato .email a:active,
body footer .inferior .centro .contato .email a:visited {
  color: #BABABA;
}
body footer .inferior .centro .contato .email a:hover {
  color: #fff;
}
body footer .inferior .centro .endereco {
  padding-left: 20px;
  color: #BABABA;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 10px;
  font-weight: normal;
  line-height: 190%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body footer .inferior .centro .assinatura {
  float: right;
}
body footer .inferior .centro .assinatura a {
  color: #BABABA;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 11px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body footer .inferior .centro .assinatura a span {
  border-bottom: 1px transparent dotted;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body footer .inferior .centro .assinatura a:active,
body footer .inferior .centro .assinatura a:visited {
  color: #BABABA;
}
body footer .inferior .centro .assinatura a:hover span {
  border-bottom: 1px #BABABA dotted;
}
body footer .inferior .centro .assinatura a img {
  margin-left: 7px;
  vertical-align: -4px;
}
