@import 'vars.less';

body{
	overflow-y:auto;
	overflow-x:hidden;
	@media only screen and (max-width : 960px) { overflow-x:auto; }
	.main{
		.centralizar;
		position:relative;
		min-height:600px;
		#fundo-azul{
			position:absolute;
			top:0;
			left:-1px;
			width:1px;
			height:600px;
			z-index:0;
			background-color:@azul;
			padding-left:9999px;
			margin-left:-9999px;
		}
		header{
			position:relative;
			z-index:999;
			width:400px;
			height:600px;
			float:left;
			background:url('../_imgs/layout/fundo-menu.png') right top no-repeat;
			#logo-link{
				margin-top:32px;
				display:block;
				width:300px;
				height:225;
			}
			nav{
				margin:17px 0;
				ul{
					list-style:none;					
					li{
						margin-left:-17px;
						.inclinado(-16.5deg);
						overflow: hidden;
						height:30px;
						position:relative;
						&#mn-home{width:332px;}
						&#mn-evento{width:323px;}
						&#mn-programacao{width:315px;}
						&#mn-ingressos{width:307px;}
						&#mn-organizacao{width:298px;}
						&#mn-acaosocial{width:289px;}
						&#mn-comochegar{width:281px;}
						&#mn-contato{width:272px;}
						a{
							height:30px;
							line-height:30px;
							color:#fff;
							background-color:@azul;
							text-indent:20px;
							margin-left:-5px;
							width:100%;
							padding-right:10px;
							display:block;
							.inclinado(16.5deg);
							.nova(16px);
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover, &.ativo{
								background-color:#235497;								
							}							
						}
					}
				}
			}
			.submenu{
				display:block;
				width:128px;
				position:absolute;
				top:342px;
				left:142px;
				height:90px;
				list-style:none;
				li{
					width:128px;
					text-align:center;
					height:30px;
					line-height:30px;
					a{
						.nova(11px);
						color:#fff;
						display: block;
						background-color:#2C63A6;
						.transition;
						&:active, &:visited{color:#fff;}
						&:hover, &.ativo{
							background-color:#235497;								
						}
					}
				}
			}
			.social-links{
				.inline;
				margin-right:5px;
			}
		}
		.h600{
			padding-top:100px;
			min-height:485px;
			padding-left:400px;
			h1{
				padding-left:80px;
				.source(40px);
				color:@laranja;
				height:35px;
				line-height:35px;
				background:url('../_imgs/layout/icone-titulo.png') left center no-repeat;
				margin-bottom:12px;
			}
			.olho{
				padding-left:40px;
				margin-bottom:17px;
				color:#535353;
				line-height:140%;
				.trebuchet(18px);
				a{
					color:#535353;
					font-weight: bold;
					.transition;
					&:active, &:visited{color:#535353;}
					&:hover{color:@laranja;}
				}
			}
			.texto{
				color:#535353;
				line-height:130%;
				.trebuchet(14px);
				padding-bottom:40px;
				p{margin-bottom:12px;}
				a{
					color:#535353;
					font-weight: bold;
					.transition;
					&:active, &:visited{color:#535353;}
					&:hover{color:@laranja;}
				}
				ul{
					list-style:inside square;
				}
				table{
					margin-left:38px;
					margin-top:-1px;
					border-collapse: collapse;
					width:568px;
					thead{
						border-bottom:3px #fff solid;
						tr{
							th{
								text-align:center;
								background-color:#DFDFDF;
								border:1px #fff solid;
								color:@azul;
								.trebuchet(11px);
								height:30px;
								line-height:30px;
								&.hor{ width:80px; }
								&.pal{ width:160px; }
								&.tit{ width:250px; }
							}
						}
					}
					tbody{
						tr{
							td{
								border:1px #fff solid;
								text-align:center;
								padding:18px 10px;
								background-color:#F0F0F0;
								color:#545454;
								.trebuchet(12px);
								&:first-child{
									color:#477EBE;
									background-color:#D4DEE8;
								}
								a{
									color:#545454;
									text-decoration: underline;
									.transition;
									&:active, &:visited{color:#545454;}
									&:hover{color:@laranja;}
								}
							}
						}
					}
				}
			}
		}
	}
	footer{
		background:url('../_imgs/layout/textura-rodape.png');
		.superior{
			padding:35px 0;
			.centro{
				font-size:0;
				.centralizar;
				color:#fff;
				h3{
					.nova(15px);
					margin-bottom:10px;
				}
				.realizacao{
					//width:130px;
					padding:0 38px 0 0;
					border-right:1px #9B9B99 solid;
					.inline;
					img{
						&:first-child{margin-left:0;}
						display:block;
						max-width:95px;
						max-height: 50px;
						margin:10px;
						.inline;
						vertical-align: middle;
					}
				}
				.patrocinio{
					padding:0 25px;
					//width:411px;
					border-right:1px #9B9B99 solid;
					.inline;
					img{
						&:first-child{margin-left:0;}
						display:block;
						max-width:95px;
						max-height: 50px;
						margin:10px;
						.inline;
						vertical-align: middle;
					}
				}
				.apoio{
					padding:0 0 0 25px;
					//width:318px;
					.inline;
					img{
						&:first-child{margin-left:0;}
						display:block;
						max-width:95px;
						max-height: 50px;
						margin:10px;
						.inline;
						vertical-align: middle;
					}
				}
			}
		}
		.inferior{
			background: rgba(0,0,0,.2);
			height:40px;
			padding:15px 0;
			overflow:hidden;
			.centro{
				.centralizar;
				.contato{
					width:190px;
					border-right: 1px #9B9B99 solid;
					color:#BABABA;
					.trebuchet(11px);
					height:40px;
					.inline;
					.telefone{
						font-size:15px;
						padding-left:22px;
						height:20px;
						line-height:20px;
						background:url('../_imgs/layout/icone-telefone.png') left 4px no-repeat;
					}
					.email{
						height:20px;
						line-height:25px;
						padding-left:22px;
						background:url('../_imgs/layout/icone-email.png') left 7px no-repeat;
						a{
							color:#BABABA;
							.transition;
							&:active, &:visited{color:#BABABA;}
							&:hover{color:#fff;}
						}
					}
				}
				.endereco{
					padding-left:20px;
					color:#BABABA;
					.trebuchet(10px);
					line-height:190%;
					.inline;
				}
				.assinatura{
					float:right;
					a{
						color:#BABABA;
						.trebuchet(11px);
						.transition;
						span{
							border-bottom:1px transparent dotted;
							.transition;
						}
						&:active, &:visited{color:#BABABA;}
						&:hover{
							span{border-bottom:1px #BABABA dotted;}
						}
						img{
							margin-left:7px;
							vertical-align: -4px;
						}
					}
				}
			}
		}
	}
}