.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.main h1 {
  background-position: 325px center !important;
}
.main .endereco {
  margin: 25px 0;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #525252;
  line-height: 130%;
}
.main .endereco span {
  color: #3776bb;
}
.main .texto {
  margin-bottom: 70px;
}
