@import 'vars.less';

.main{
	h1{
		background-position:325px center !important;
	}
	.endereco{
		margin:25px 0;
		.trebuchet(13px, bold);
		color:#525252;
		line-height:130%;
		span{ color:@azul; }
	}
	.texto{
		margin-bottom:70px;
	}
}