@import 'vars.less';

.main{
	h1{
		background-position:225px center !important;
	}
	form{
		padding-bottom:15px;
		label{
			.trebuchet(14px);
			color:#CACACA;
			border:1px #CACACA solid;
			display:block;
			margin-bottom:15px;
			text-indent: 10px;
			padding:5px 0;
			vertical-align:top;
			input, textarea{
				border:0;
				margin:0 0 0 10px;
				padding:0;
				background-color:transparent;
				.trebuchet(14px);
				color:@azul;
				width:350px;
			}
			textarea{
				height:120px;
				resize:none;
				overflow:auto;
			}
		}
		.submit-placeholder{
			height:20px;
			input{
				float:right;
				height:20px;
				line-height:20px;
				text-align:center;
				border:0;
				padding:0 20px;
				margin:0;
				cursor:pointer;
				background:url('../_imgs/layout/download.png') @laranja 53px center no-repeat;
				color:#FFF;
				.transition;
				&:hover{ background-color:@azul;}
			}
		}
	}
	.contato{
		.trebuchet(14px);
		color:#545454;
		.telefone{
			padding-left:20px;
			background:url('../_imgs/layout/contato-icone-telefone.png') left top no-repeat;
		}
		.fax{
			margin-left:5px;
			padding-left:20px;
			background:url('../_imgs/layout/contato-icone-fax.png') left top no-repeat;			
		}
		.email{
			padding-top:4px;
			padding-left:20px;
			background:url('../_imgs/layout/contato-icone-email.png') left 4px no-repeat;
			a{
				color:#545454;
				.transition;
				&:active, &:visited{color:#545454;}
				&:hover{color:@laranja;}
			}
		}
	}
	.enviado{
		width:560px;
		height:332px;
		overflow:hidden;
		h2{
			.nova(18px);
			color:@azul;
			margin-top:30px;
			text-align:center;
		}
	}
}