.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.main h1 {
  background-position: 225px center !important;
}
.main form {
  padding-bottom: 15px;
}
.main form label {
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #CACACA;
  border: 1px #CACACA solid;
  display: block;
  margin-bottom: 15px;
  text-indent: 10px;
  padding: 5px 0;
  vertical-align: top;
}
.main form label input,
.main form label textarea {
  border: 0;
  margin: 0 0 0 10px;
  padding: 0;
  background-color: transparent;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #3776bb;
  width: 350px;
}
.main form label textarea {
  height: 120px;
  resize: none;
  overflow: auto;
}
.main form .submit-placeholder {
  height: 20px;
}
.main form .submit-placeholder input {
  float: right;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 0;
  padding: 0 20px;
  margin: 0;
  cursor: pointer;
  background: url('../_imgs/layout/download.png') #f6741e 53px center no-repeat;
  color: #FFF;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main form .submit-placeholder input:hover {
  background-color: #3776bb;
}
.main .contato {
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #545454;
}
.main .contato .telefone {
  padding-left: 20px;
  background: url('../_imgs/layout/contato-icone-telefone.png') left top no-repeat;
}
.main .contato .fax {
  margin-left: 5px;
  padding-left: 20px;
  background: url('../_imgs/layout/contato-icone-fax.png') left top no-repeat;
}
.main .contato .email {
  padding-top: 4px;
  padding-left: 20px;
  background: url('../_imgs/layout/contato-icone-email.png') left 4px no-repeat;
}
.main .contato .email a {
  color: #545454;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .contato .email a:active,
.main .contato .email a:visited {
  color: #545454;
}
.main .contato .email a:hover {
  color: #f6741e;
}
.main .enviado {
  width: 560px;
  height: 332px;
  overflow: hidden;
}
.main .enviado h2 {
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #3776bb;
  margin-top: 30px;
  text-align: center;
}
