.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
body {
  background-color: #F0F0F0;
}
body .main #marca {
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #bdbdbd;
  position: absolute;
  top: 25px;
  right: 0;
  width: 140px;
  height: 60px;
  z-index: 99;
  vertical-align: top;
}
body .main #banners {
  margin-left: 230px;
  height: 600px;
  position: relative;
}
body .main #banners a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 600px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main #banners a img {
  height: 600px;
}
body .main #banners-nav {
  width: 63px;
  height: 113px;
  position: absolute;
  right: 0;
  top: 448px;
  z-index: 9999999;
}
body .main #banners-nav .container {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  -webkit-transform: skew(-12deg, 0);
  -moz-transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  overflow: hidden;
  margin-left: 19px;
}
body .main #banners-nav .container:first-child {
  margin-left: 28px;
}
body .main #banners-nav .container:last-child {
  margin-left: 10px;
}
body .main #banners-nav .container a {
  -webkit-transform: skew(12deg, 0);
  -moz-transform: skew(12deg, 0);
  -ms-transform: skew(12deg, 0);
  -o-transform: skew(12deg, 0);
  transform: skew(12deg, 0);
  -webkit-backface-visibility: hidden;
  display: block;
  width: 30px;
  padding: 0 5px;
  margin-left: -5px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: #bdbdbd;
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main #banners-nav .container a:active,
body .main #banners-nav .container a:visited {
  color: #fff;
}
body .main #banners-nav .container a:hover,
body .main #banners-nav .container a.activeSlide {
  background-color: #f6741e;
}
body .main .conteudo {
  overflow: hidden;
  height: 820px;
  background: url('../_imgs/layout/fundo-home.jpg') #ffffff right top no-repeat;
  padding-left: 99999px;
  margin-left: -99999px;
}
body .main .conteudo h1 {
  margin-top: 61px;
  margin-left: 144px;
  width: 563px;
  height: 61px;
  line-height: 70px;
  padding-left: 58px;
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}
body .main .conteudo .chamadas {
  height: 230px;
  margin-left: 167px;
  font-size: 0;
}
body .main .conteudo .chamadas .container {
  -webkit-transform: skew(-16deg, 0);
  -moz-transform: skew(-16deg, 0);
  -ms-transform: skew(-16deg, 0);
  -o-transform: skew(-16deg, 0);
  transform: skew(-16deg, 0);
  -webkit-backface-visibility: hidden;
  height: 220px;
  width: 244px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main .conteudo .chamadas .container a {
  -webkit-transform: skew(16deg, 0);
  -moz-transform: skew(16deg, 0);
  -ms-transform: skew(16deg, 0);
  -o-transform: skew(16deg, 0);
  transform: skew(16deg, 0);
  width: 214px;
  height: 220px;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main .conteudo .chamadas .container a img {
  position: absolute;
  left: -32px;
  z-index: 1;
}
body .main .conteudo .chamadas .container a .texto {
  position: absolute;
  padding: 10px 17px 0 17px;
  bottom: 0;
  left: -32px;
  width: 227px;
  height: 48px;
  line-height: 140%;
  background: rgba(66, 67, 69, 0.9);
  z-index: 2;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
body .main .conteudo .chamadas .container a .texto .laranja {
  color: #f6741e;
}
body .main .conteudo .chamadas .container a:hover .texto {
  background-color: #3776bb;
}
body .main .conteudo h2 {
  height: 61px;
  line-height: 70px;
  padding-left: 58px;
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  margin-top: 70px;
  margin-left: 41px;
}
body .main .conteudo .facebook {
  width: 812px;
  height: 294px;
  margin-top: 20px;
  background: #FFF;
  float: right;
}
