@import 'vars.less';

body{
	background-color:#F0F0F0;
	.main{
		#marca{
			.nova(12px);
			color:@cinza;
			position:absolute;
			top:25px;
			right:0;
			width:140px;
			height:60px;
			z-index:99;
			vertical-align:top;
		}
		#banners{
			margin-left:230px;
			height:600px;
			position:relative;
			a{
				position:absolute;
				top:0;
				left:0;
				display:block;
				height:600px;
				img{height:600px;}
				.transition;
				&:active, &:visited{}
				&:hover{}
			}
		}
		#banners-nav{
			width: 63px;
			height:113px;
			position: absolute;
			right:0;
			top:448px;
			z-index:9999999;
			.container{
				width:30px;
				height:30px;
				margin-bottom:10px;
				.inclinado(-12deg);
				overflow:hidden;
				margin-left:19px;
				&:first-child{margin-left:28px;}
				&:last-child{margin-left:10px;}
				a{
					.inclinado(12deg);
					-webkit-backface-visibility: hidden;
					display:block;
					width:30px;
					padding:0 5px;
					margin-left:-5px;
					height:30px;
					line-height:30px;
					text-align:center;
					color:#fff;
					background-color:@cinza;
					.nova(20px);
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover, &.activeSlide{background-color:@laranja;}
				}
			}
		}
		.conteudo{
			overflow:hidden;
			height:820px;
			background:url('../_imgs/layout/fundo-home.jpg') #fff right top no-repeat;
			padding-left:99999px;
			margin-left:-99999px;
			h1{
				margin-top:61px;
				margin-left:144px;
				width:563px;
				height:61px;
				line-height:70px;
				padding-left:58px;
				.nova(18px);
				color:#fff;
			}
			.chamadas{
				height:230px;
				margin-left:167px;
				font-size:0;
				.container{
					.inclinado(-16deg);
					-webkit-backface-visibility: hidden;
					height:220px;
					width:244px;
					overflow:hidden;
					margin-right:10px;
					.inline;
					a{
						.inclinado(16deg);
						width:214px;
						height:220px;
						display:block;
						position:relative;
						.transition;
						img{
							position:absolute;
							left:-32px;
							z-index:1;
						}
						.texto{
							position:absolute;
							padding:10px 17px 0 17px;
							bottom:0;
							left:-32px;
							width:227px;
							height:48px;
							line-height:140%;
							background: rgba(66,67,69,.9);
							z-index:2;
							color:#fff;
							.transition;
							.trebuchet(14px, bold);
							.laranja{ color:@laranja;}
						}
						&:hover{
							.texto{ background-color:@azul;}
						}
					}
				}
			}
			h2{
				height:61px;
				line-height:70px;
				padding-left:58px;
				.nova(18px);
				color:#fff;
				margin-top:70px;
				margin-left:41px;
			}
			.facebook{
				width:812px;
				height:294px;
				margin-top:20px;
				background:#FFF;
				float:right;
			}
		}
	}
}