.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.main {
  position: relative;
}
.main h1 {
  background-position: 305px center !important;
  margin-bottom: 20px !important;
}
.main .container {
  position: relative;
  left: -53px;
  width: 628px;
  padding-bottom: 100px;
}
.main .container .skew {
  width: 618px;
  margin-bottom: 40px;
  -webkit-transform: skew(-16deg, 0);
  -moz-transform: skew(-16deg, 0);
  -ms-transform: skew(-16deg, 0);
  -o-transform: skew(-16deg, 0);
  transform: skew(-16deg, 0);
  overflow: hidden;
  height: 56px;
  -webkit-backface-visibility: hidden;
}
.main .container .skew.xtramg {
  margin-top: 40px;
}
.main .container .skew h2 {
  margin-left: -8px;
  padding-left: 8px;
  text-indent: 55px;
  width: 628px;
  height: 56px;
  line-height: 56px;
  -webkit-transform: skew(16deg, 0);
  -moz-transform: skew(16deg, 0);
  -ms-transform: skew(16deg, 0);
  -o-transform: skew(16deg, 0);
  transform: skew(16deg, 0);
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 19px;
  font-weight: normal;
  background-color: #f6741e;
  color: #fff;
}
.main .container .skew h2 .data {
  float: right;
  margin-right: 40px;
}
.main .container .terco {
  width: 32%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: middle;
}
.main .container .terco img {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}
.main .container .center img {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}
.main-detalhes {
  width: 780px;
}
.main-detalhes .imagem {
  float: left;
  margin: 0 13px 20px 0;
  width: 320px;
}
.main-detalhes .imagem img {
  display: block;
  margin: 30px auto;
  max-width: 300px;
}
.main-detalhes h1 {
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #f6741e;
  margin-bottom: 10px;
  margin-left: 332px;
}
.main-detalhes p {
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
  color: #3E3E3E;
  width: 420px;
  margin-left: 332px;
}
.main-detalhes p a {
  color: #3776bb;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main-detalhes p a:active,
.main-detalhes p a:visited {
  color: #3776bb;
}
.main-detalhes p a:hover {
  color: #f6741e;
}
