@import 'vars.less';

.main{
	h1{
		background-position:305px center !important;
		margin-bottom: 20px !important;
	}
	position:relative;
	.container{
		position:relative;
		left:-53px;
		width:628px;
		padding-bottom:100px;
		.skew{
			width:618px;
			margin-bottom:40px;
			.inclinado(-16deg);
			overflow:hidden;
			height:56px;
			-webkit-backface-visibility:hidden;
			&.xtramg{
				margin-top:40px;
			}
			h2{
				margin-left:-8px;
				padding-left:8px;
				text-indent: 55px;
				width:628px;
				height:56px;
				line-height:56px;
				.inclinado(16deg);
				.nova(19px);
				background-color:@laranja;
				color:#fff;
				.data{
					float:right;
					margin-right: 40px;
				}
			}
		}
		.terco{
			width:32%;
			.inline;
			vertical-align:middle;
			img{
				max-width:150px;
				display:block;
				margin:0 auto;
			}
		}
		.center img{
			max-width:150px;
			display:block;
			margin:0 auto;
		}
	}
}

.main-detalhes{
	width:780px;
	.imagem{
		float:left;
		margin:0 13px 20px 0;
		width:320px;
		img{
			display: block;
			margin:30px auto;
			max-width: 300px
		}
	}
	h1{
		.nova(25px);
		color:@laranja;
		margin-bottom:10px;
		margin-left:332px;
	}
	p{
		.trebuchet(14px);
		margin-bottom:10px;
		color:#3E3E3E;
		width:420px;
		margin-left:332px;
		a{
			color:@azul;
			.transition;
			&:active, &:visited{color:@azul;}
			&:hover{color:@laranja;}
		}	
	}
}