.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.main {
  position: relative;
}
.main.main-programacao-cronograma h1 {
  background-position: 305px center !important;
  margin-bottom: 20px !important;
}
.main.main-programacao-oficinas h1 {
  background-position: 225px center !important;
  margin-bottom: 20px !important;
}
.main.main-programacao-palestrantes h1 {
  background-position: 305px center !important;
}
.main.main-programacao-minicursos h1 {
  background-position: 291px center !important;
}
.main.main-programacao-inscricaoMinicursos h1 {
  background-position: 452px center !important;
}
.main.main-programacao-inscricaoOficinas h1 {
  background-position: 452px center !important;
}
.main.main-programacao-inscricaoOficinas h2,
.main.main-programacao-inscricaoMinicursos h2 {
  color: #535353;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.main.main-programacao-inscricaoOficinas #btnVoltarPosInscr,
.main.main-programacao-inscricaoMinicursos #btnVoltarPosInscr {
  height: 40px;
  overflow: hidden;
}
.main.main-programacao-inscricaoOficinas #btnVoltarPosInscr a,
.main.main-programacao-inscricaoMinicursos #btnVoltarPosInscr a {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  width: 120px;
  display: block;
  margin: 0 auto;
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  position: relative;
}
.main.main-programacao-inscricaoOficinas #btnVoltarPosInscr a:hover:after,
.main.main-programacao-inscricaoMinicursos #btnVoltarPosInscr a:hover:after {
  background: #3776bb;
}
.main.main-programacao-inscricaoOficinas #btnVoltarPosInscr a:after,
.main.main-programacao-inscricaoMinicursos #btnVoltarPosInscr a:after {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: #f6741e;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  height: 50px;
  width: 80%;
  height: 100%;
  z-index: -1;
  -moz-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
.main.main-programacao-inscricaoOficinas form #cursoSel,
.main.main-programacao-inscricaoMinicursos form #cursoSel {
  margin: 35px 0 55px 0;
}
.main.main-programacao-inscricaoOficinas form #cursoSel select,
.main.main-programacao-inscricaoMinicursos form #cursoSel select {
  width: 350px;
  height: 40px;
  line-height: 40px;
  background: #F0F0F0;
  border: 0;
  padding: 0;
  margin: 0;
  text-indent: 15px;
  color: #3776bb;
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main.main-programacao-inscricaoOficinas form #cursoSel select option,
.main.main-programacao-inscricaoMinicursos form #cursoSel select option {
  padding: 4px;
}
.main.main-programacao-inscricaoOficinas form #cursoSel .vagasSel,
.main.main-programacao-inscricaoMinicursos form #cursoSel .vagasSel {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  background: #3776bb;
  color: #fff;
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 17px;
  font-weight: normal;
  text-align: center;
  margin-left: 5px;
  width: 200px !important;
  height: 40px;
  line-height: 40px;
}
.main.main-programacao-inscricaoOficinas form #cursoSel .vagasSel .numero span,
.main.main-programacao-inscricaoMinicursos form #cursoSel .vagasSel .numero span {
  font-size: 22px;
}
.main.main-programacao-inscricaoOficinas form #dadosInscricao .form-row,
.main.main-programacao-inscricaoMinicursos form #dadosInscricao .form-row {
  height: 27px;
  margin-bottom: 10px;
}
.main.main-programacao-inscricaoOficinas form #dadosInscricao .form-row label,
.main.main-programacao-inscricaoMinicursos form #dadosInscricao .form-row label {
  height: 27px;
  line-height: 27px;
  float: left;
  width: 135px;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #535353;
  text-align: right;
  margin-right: 20px;
}
.main.main-programacao-inscricaoOficinas form #dadosInscricao .form-row input[type="text"],
.main.main-programacao-inscricaoMinicursos form #dadosInscricao .form-row input[type="text"],
.main.main-programacao-inscricaoOficinas form #dadosInscricao .form-row input[type="email"],
.main.main-programacao-inscricaoMinicursos form #dadosInscricao .form-row input[type="email"] {
  height: 21px;
  line-height: 21px;
  width: 385px;
  padding: 3px 10px;
  background: #e4e4e4;
  border: 0;
  margin: 0;
  color: #3776bb;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
.main.main-programacao-inscricaoOficinas form #dadosInscricao #submitPlaceholder,
.main.main-programacao-inscricaoMinicursos form #dadosInscricao #submitPlaceholder {
  height: 40px;
  overflow: hidden;
  margin: 25px 0 55px 0;
}
.main.main-programacao-inscricaoOficinas form #dadosInscricao #submitPlaceholder input[type="submit"],
.main.main-programacao-inscricaoMinicursos form #dadosInscricao #submitPlaceholder input[type="submit"] {
  height: 40px;
  line-height: 40px;
  float: right;
  text-align: center;
  width: 218px;
  background: url('../_imgs/layout/icone-ingresso.png') #3776bb 178px center no-repeat;
  color: #FFF;
  border: 0;
  margin-right: 82px;
  padding-right: 20px;
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main.main-programacao-inscricaoOficinas form #dadosInscricao #submitPlaceholder input[type="submit"]:hover,
.main.main-programacao-inscricaoMinicursos form #dadosInscricao #submitPlaceholder input[type="submit"]:hover {
  color: #f6741e;
}
.main .divs-container {
  position: relative;
  left: -53px;
  width: 628px;
}
.main .divs-container .dia {
  margin-bottom: 40px;
}
.main .divs-container .oficina {
  margin-bottom: 15px;
}
.main .divs-container .dia,
.main .divs-container .oficina {
  width: 628px;
}
.main .divs-container .dia .skew,
.main .divs-container .oficina .skew {
  width: 618px;
  -webkit-transform: skew(-16deg, 0);
  -moz-transform: skew(-16deg, 0);
  -ms-transform: skew(-16deg, 0);
  -o-transform: skew(-16deg, 0);
  transform: skew(-16deg, 0);
  overflow: hidden;
  height: 56px;
  -webkit-backface-visibility: hidden;
}
.main .divs-container .dia .skew h2,
.main .divs-container .oficina .skew h2 {
  margin-left: -8px;
  padding-left: 8px;
  text-indent: 55px;
  width: 628px;
  height: 56px;
  line-height: 56px;
  -webkit-transform: skew(16deg, 0);
  -moz-transform: skew(16deg, 0);
  -ms-transform: skew(16deg, 0);
  -o-transform: skew(16deg, 0);
  transform: skew(16deg, 0);
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 19px;
  font-weight: normal;
  background-color: #f6741e;
  color: #fff;
}
.main .divs-container .dia .skew h2 .data,
.main .divs-container .oficina .skew h2 .data {
  float: right;
  margin-right: 40px;
}
.main .divs-container .dia .skew.courtain h2,
.main .divs-container .oficina .skew.courtain h2 {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.main .divs-container .dia .skew.courtain h2 .seta,
.main .divs-container .oficina .skew.courtain h2 .seta {
  position: absolute;
  top: 25px;
  left: 605px;
  width: 0px;
  height: 0px;
  border-top: 6px #fff solid;
  border-right: 6px transparent solid;
  border-bottom: 0;
  border-left: 6px transparent solid;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .divs-container .dia .skew.courtain h2 .seta.flipped,
.main .divs-container .oficina .skew.courtain h2 .seta.flipped {
  border-top: 0;
  border-right: 6px transparent solid;
  border-bottom: 6px #fff solid;
  border-left: 6px transparent solid;
}
.main .divs-container .dia .skew.courtain:hover h2,
.main .divs-container .oficina .skew.courtain:hover h2 {
  background-color: #3776bb;
}
.main .divs-container .dia table,
.main .divs-container .oficina table {
  margin-left: 38px;
  margin-top: -1px;
  border-collapse: collapse;
  width: 568px;
}
.main .divs-container .dia table thead,
.main .divs-container .oficina table thead {
  border-bottom: 3px #fff solid;
}
.main .divs-container .dia table thead tr th,
.main .divs-container .oficina table thead tr th {
  text-align: center;
  background-color: #DFDFDF;
  border: 1px #fff solid;
  color: #3776bb;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 11px;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
}
.main .divs-container .dia table thead tr th.hor,
.main .divs-container .oficina table thead tr th.hor {
  width: 80px;
}
.main .divs-container .dia table thead tr th.pal,
.main .divs-container .oficina table thead tr th.pal {
  width: 160px;
}
.main .divs-container .dia table thead tr th.tit,
.main .divs-container .oficina table thead tr th.tit {
  width: 250px;
}
.main .divs-container .dia table tbody tr td,
.main .divs-container .oficina table tbody tr td {
  border: 1px #fff solid;
  text-align: center;
  padding: 18px 10px;
  background-color: #F0F0F0;
  color: #545454;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.main .divs-container .dia table tbody tr td:first-child,
.main .divs-container .oficina table tbody tr td:first-child {
  color: #477EBE;
  background-color: #D4DEE8;
}
.main .divs-container .dia table tbody tr td a,
.main .divs-container .oficina table tbody tr td a {
  color: #545454;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .divs-container .dia table tbody tr td a:active,
.main .divs-container .oficina table tbody tr td a:active,
.main .divs-container .dia table tbody tr td a:visited,
.main .divs-container .oficina table tbody tr td a:visited {
  color: #545454;
}
.main .divs-container .dia table tbody tr td a:hover,
.main .divs-container .oficina table tbody tr td a:hover {
  color: #f6741e;
}
.main .divs-container .dia .detalhes-oficina,
.main .divs-container .oficina .detalhes-oficina {
  padding-left: 56px;
  width: 550px;
  padding-bottom: 30px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .divs-container .dia .detalhes-oficina.hidden,
.main .divs-container .oficina .detalhes-oficina.hidden {
  height: 0;
  overflow: hidden;
  padding: 0;
}
.main .divs-container .dia .detalhes-oficina h3,
.main .divs-container .oficina .detalhes-oficina h3 {
  margin: 15px 0;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #3776bb;
}
.main .divs-container .dia .detalhes-oficina .texto,
.main .divs-container .oficina .detalhes-oficina .texto {
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #545454;
  line-height: 130%;
}
.main .divs-container .dia .detalhes-oficina .texto p,
.main .divs-container .oficina .detalhes-oficina .texto p {
  margin-bottom: 10px;
}
.main .divs-container .dia .detalhes-oficina .texto.mini,
.main .divs-container .oficina .detalhes-oficina .texto.mini {
  padding-bottom: 20px;
}
.main .divs-container .dia .detalhes-oficina .vagas,
.main .divs-container .oficina .detalhes-oficina .vagas {
  width: 385px;
  height: 40px;
  margin: 0 auto 20px auto;
  background-color: #F0F0F0;
}
.main .divs-container .dia .detalhes-oficina .vagas .numero,
.main .divs-container .oficina .detalhes-oficina .vagas .numero {
  line-height: 40px;
  padding-left: 20px;
  color: #3776bb;
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 17px;
  font-weight: normal;
}
.main .divs-container .dia .detalhes-oficina .vagas .numero span,
.main .divs-container .oficina .detalhes-oficina .vagas .numero span {
  margin-left: 5px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 26px;
  font-weight: normal;
}
.main .divs-container .dia .detalhes-oficina .vagas a,
.main .divs-container .oficina .detalhes-oficina .vagas a {
  margin-top: -43px;
  width: 220px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  float: right;
  background: #3776bb;
  color: #fff;
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .divs-container .dia .detalhes-oficina .vagas a img,
.main .divs-container .oficina .detalhes-oficina .vagas a img {
  vertical-align: middle;
}
.main .divs-container .dia .detalhes-oficina .vagas a:active,
.main .divs-container .oficina .detalhes-oficina .vagas a:active,
.main .divs-container .dia .detalhes-oficina .vagas a:visited,
.main .divs-container .oficina .detalhes-oficina .vagas a:visited {
  color: #fff;
}
.main .divs-container .dia .detalhes-oficina .vagas a:hover,
.main .divs-container .oficina .detalhes-oficina .vagas a:hover {
  color: #f6741e;
}
.main .divs-container .dia .detalhes-oficina .skew-cinza,
.main .divs-container .oficina .detalhes-oficina .skew-cinza {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  height: 78px;
  margin-left: -25px;
  -webkit-transform: skew(-16deg, 0);
  -moz-transform: skew(-16deg, 0);
  -ms-transform: skew(-16deg, 0);
  -o-transform: skew(-16deg, 0);
  transform: skew(-16deg, 0);
}
.main .divs-container .dia .detalhes-oficina .skew-cinza .horario,
.main .divs-container .oficina .detalhes-oficina .skew-cinza .horario {
  margin-left: -12px;
  width: 552px;
  height: 58px;
  padding: 10px 10px 10px 40px;
  -webkit-transform: skew(16deg, 0);
  -moz-transform: skew(16deg, 0);
  -ms-transform: skew(16deg, 0);
  -o-transform: skew(16deg, 0);
  transform: skew(16deg, 0);
  background-color: #F0F0F0;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 100%;
}
.main .divs-container .dia .detalhes-oficina .skew-cinza .horario span.label,
.main .divs-container .oficina .detalhes-oficina .skew-cinza .horario span.label {
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #3776bb;
}
.main .divs-container .dia .detalhes-oficina .skew-cinza .horario small,
.main .divs-container .oficina .detalhes-oficina .skew-cinza .horario small {
  font-size: 14px;
}
.main .container-palest {
  margin: 30px 0;
  width: 660px;
  font-size: 0;
}
.main .container-palest .container {
  -webkit-transform: skew(-16deg, 0);
  -moz-transform: skew(-16deg, 0);
  -ms-transform: skew(-16deg, 0);
  -o-transform: skew(-16deg, 0);
  transform: skew(-16deg, 0);
  -webkit-backface-visibility: hidden;
  height: 220px;
  width: 244px;
  overflow: hidden;
  margin-right: 80px;
  margin-bottom: 35px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main .container-palest .container a {
  -webkit-transform: skew(16deg, 0);
  -moz-transform: skew(16deg, 0);
  -ms-transform: skew(16deg, 0);
  -o-transform: skew(16deg, 0);
  transform: skew(16deg, 0);
  width: 214px;
  height: 220px;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .container-palest .container a img {
  position: absolute;
  left: -32px;
  z-index: 1;
}
.main .container-palest .container a .texto {
  position: absolute;
  padding: 10px 17px 0 17px;
  bottom: 0;
  left: -32px;
  width: 227px;
  height: 48px;
  line-height: 170%;
  background: rgba(66, 67, 69, 0.9);
  z-index: 2;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 120%;
}
.main .container-palest .container a .texto .laranja {
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  right: 20px;
  bottom: 1px;
  color: #f6741e;
}
.main .container-palest .container a:hover .texto {
  background-color: #3776bb;
}
.main-perfil {
  width: 780px;
}
.main-perfil img {
  float: left;
  margin: 0 20px 20px 0;
}
.main-perfil h1 {
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #f6741e;
  margin-bottom: 10px;
}
.main-perfil p {
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
  color: #3E3E3E;
  width: 420px;
  margin-left: 332px;
}
.oficina-det {
  padding: 20px;
}
.oficina-det .skew {
  width: 618px;
  -webkit-transform: skew(-16deg, 0);
  -moz-transform: skew(-16deg, 0);
  -ms-transform: skew(-16deg, 0);
  -o-transform: skew(-16deg, 0);
  transform: skew(-16deg, 0);
  overflow: hidden;
  height: 56px;
  -webkit-backface-visibility: hidden;
}
.oficina-det .skew h2 {
  margin-left: -8px;
  padding-left: 8px;
  text-indent: 55px;
  width: 628px;
  height: 56px;
  line-height: 56px;
  -webkit-transform: skew(16deg, 0);
  -moz-transform: skew(16deg, 0);
  -ms-transform: skew(16deg, 0);
  -o-transform: skew(16deg, 0);
  transform: skew(16deg, 0);
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 19px;
  font-weight: normal;
  background-color: #f6741e;
  color: #fff;
}
.oficina-det .skew h2 .data {
  float: right;
  margin-right: 40px;
}
.oficina-det .vagas {
  width: 385px;
  height: 40px;
  margin: 0 auto 20px auto;
  background-color: #F0F0F0;
}
.oficina-det .vagas .numero {
  line-height: 40px;
  padding-left: 20px;
  color: #3776bb;
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 17px;
  font-weight: normal;
}
.oficina-det .vagas .numero span {
  margin-left: 5px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 26px;
  font-weight: normal;
}
.oficina-det .vagas a {
  margin-top: -43px;
  width: 220px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  float: right;
  background: #3776bb;
  color: #fff;
  font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.oficina-det .vagas a img {
  vertical-align: middle;
}
.oficina-det .vagas a:active,
.oficina-det .vagas a:visited {
  color: #fff;
}
.oficina-det .vagas a:hover {
  color: #f6741e;
}
.oficina-det h3 {
  margin: 15px 0;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #3776bb;
}
.oficina-det .texto {
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #545454;
  line-height: 130%;
  width: 550px;
}
.oficina-det .texto p {
  margin-bottom: 10px;
}
.oficina-det .skew-cinza {
  width: 550px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  height: 78px;
  -webkit-transform: skew(-16deg, 0);
  -moz-transform: skew(-16deg, 0);
  -ms-transform: skew(-16deg, 0);
  -o-transform: skew(-16deg, 0);
  transform: skew(-16deg, 0);
}
.oficina-det .skew-cinza .horario {
  margin-left: -12px;
  width: 552px;
  height: 58px;
  padding: 10px 10px 10px 40px;
  -webkit-transform: skew(16deg, 0);
  -moz-transform: skew(16deg, 0);
  -ms-transform: skew(16deg, 0);
  -o-transform: skew(16deg, 0);
  transform: skew(16deg, 0);
  background-color: #F0F0F0;
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 100%;
}
.oficina-det .skew-cinza .horario span.label {
  font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #3776bb;
}
.oficina-det .skew-cinza .horario small {
  font-size: 14px;
}
