@import 'vars.less';

.main{
	&.main-programacao-cronograma h1{background-position: 305px center !important; margin-bottom:20px !important;}
	&.main-programacao-oficinas h1{background-position: 225px center !important; margin-bottom:20px !important;}
	&.main-programacao-palestrantes h1{background-position: 305px center !important;}
	&.main-programacao-minicursos h1{background-position: 291px center !important;}
	&.main-programacao-inscricaoMinicursos h1{background-position: 452px center !important;}
	&.main-programacao-inscricaoOficinas h1{background-position: 452px center !important;}
	&.main-programacao-inscricaoOficinas,
	&.main-programacao-inscricaoMinicursos{
		h2{
			color:#535353;
			.trebuchet(18px);
		}
		#btnVoltarPosInscr{
			height:40px;
			overflow:hidden;
			a{
				height:40px;
				line-height:40px;
				padding:0 20px;
				width:120px;
				display:block;
				margin:0 auto;
				.nova(16px);
				color:#fff;
				text-align: center;
				position:relative;
				&:active, &:visited{}
				&:hover:after{
					background:@azul;
				}
				&:after{
					.transition;
					background:@laranja;
					display:block;
					content:"";
					position:absolute;
					top:0;
					left:10%;
					height:50px;
					width:80%;
					height:100%;
					z-index:-1;
					-moz-transform: skewX(-15deg);
					-webkit-transform: skewX(-15deg);
					-o-transform: skewX(-15deg);
					-ms-transform: skewX(-15deg);
					transform: skewX(-15deg);					
				}
			}
		}
		form{
			#cursoSel{
				margin:35px 0 55px 0;
				select{
					width:350px;
					height:40px;
					line-height:40px;
					background:#F0F0F0;
					border:0;
					padding:0;
					margin:0;
					text-indent:15px;
					color:@azul;
					.nova(16px);
					.inline;
					option{
						padding:4px;
					}
				}
				.vagasSel{
					.inline;
					background:@azul;
					color:#fff;
					.nova(17px);
					text-align: center;
					margin-left:5px;
					width:200px !important;
					height:40px;
					line-height:40px;
					.numero{
						span{font-size:22px}
					}
				}
			}
			#dadosInscricao{
				.form-row{
					height:27px;
					margin-bottom:10px;
					label{
						height:27px;
						line-height:27px;
						float:left;
						width:135px;
						.trebuchet(14px);
						color:#535353;
						text-align:right;
						margin-right:20px;
					}
					input[type="text"],
					input[type="email"]{
						height:21px;
						line-height:21px;
						width:385px;
						padding:3px 10px;
						background:#e4e4e4;
						border:0;
						margin:0;
						color:@azul;
						.trebuchet(15px);
					}
				}
				#submitPlaceholder{
					height:40px;
					overflow:hidden;
					margin:25px 0 55px 0;
					input[type="submit"]{
						height:40px;
						line-height:40px;
						float:right;
						text-align:center;
						width:218px;
						background:url('../_imgs/layout/icone-ingresso.png') @azul 178px center no-repeat;
						color:#FFF;
						border:0;
						margin-right:82px;
						padding-right:20px;
						.nova(14px);
						cursor:pointer;
						.transition;
						&:hover{color:@laranja;}
					}
				}
			}
		}
	}
	position:relative;
	.divs-container{
		position:relative;
		left:-53px;
		width:628px;
		.dia{margin-bottom:40px;}			
		.oficina{margin-bottom:15px;}
		.dia, .oficina{
			width:628px;
			.skew{
				width:618px;
				.inclinado(-16deg);
				overflow:hidden;
				height:56px;
				-webkit-backface-visibility:hidden;
				h2{
					margin-left:-8px;
					padding-left:8px;
					text-indent: 55px;
					width:628px;
					height:56px;
					line-height:56px;
					.inclinado(16deg);
					.nova(19px);
					background-color:@laranja;
					color:#fff;
					.data{
						float:right;
						margin-right: 40px;
					}
				}
				&.courtain{
					h2{
						.transition; 
						cursor:pointer;
						.seta{
							position:absolute;
							top:25px;
							left:605px;
							width:0px;
							height:0px;
							border-top:6px #fff solid;
							border-right:6px transparent solid;
							border-bottom:0;
							border-left:6px transparent solid;
							.transition;
							&.flipped{
								border-top:0;
								border-right:6px transparent solid;
								border-bottom:6px #fff solid;
								border-left:6px transparent solid;
							}
						}
					}
					&:hover{
						h2{ background-color:@azul; }
					}					
				}
			}
			table{
				margin-left:38px;
				margin-top:-1px;
				border-collapse: collapse;
				width:568px;
				thead{
					border-bottom:3px #fff solid;
					tr{
						th{
							text-align:center;
							background-color:#DFDFDF;
							border:1px #fff solid;
							color:@azul;
							.trebuchet(11px);
							height:30px;
							line-height:30px;
							&.hor{ width:80px; }
							&.pal{ width:160px; }
							&.tit{ width:250px; }
						}
					}
				}
				tbody{
					tr{
						td{
							border:1px #fff solid;
							text-align:center;
							padding:18px 10px;
							background-color:#F0F0F0;
							color:#545454;
							.trebuchet(12px);
							&:first-child{
								color:#477EBE;
								background-color:#D4DEE8;
							}
							a{
								color:#545454;
								text-decoration: underline;
								.transition;
								&:active, &:visited{color:#545454;}
								&:hover{color:@laranja;}
							}
						}
					}
				}
			}
			.detalhes-oficina{
				padding-left:56px;
				width:550px;
				padding-bottom:30px;
				.transition;
				&.hidden{
					height:0;
					overflow:hidden;
					padding:0;
				}
				h3{
					margin:15px 0;
					.trebuchet(16px);
					color:@azul;
				}
				.texto{
					.trebuchet(14px);
					color:#545454;
					line-height:130%;
					p{ margin-bottom:10px;}
					&.mini{
						padding-bottom:20px;
					}
				}
				.vagas{
					width:385px;
					height:40px;
					margin:0 auto 20px auto;
					background-color:#F0F0F0;
					.numero{
						line-height:40px;
						padding-left:20px;
						color:@azul;
						.nova(17px);
						span{
							margin-left:5px;
							.verdana(26px);
						}
					}					
					a{
						margin-top:-43px;
						width:220px;
						text-align:center;
						height:40px;
						line-height:40px;
						float:right;
						background:@azul;
						color:#fff;
						.nova(15px);
						img{vertical-align: middle;}
						.transition;
						&:active, &:visited{color:#fff;}
						&:hover{color:@laranja;}
					}
				}
				.skew-cinza{
					overflow:hidden;
					-webkit-backface-visibility:hidden;
					height:78px;
					margin-left:-25px;
					.inclinado(-16deg);
					.horario{
						margin-left:-12px;
						width:552px;
						height:58px;
						padding:10px 10px 10px 40px;
						.inclinado(16deg);
						background-color:#F0F0F0;
						.trebuchet(28px);
						line-height:100%;
						span.label{
							.trebuchet(18px);
							color:@azul;
						}
						small{
							font-size:14px;
						}
					}
				}
			}
		}
	}
	.container-palest{
		margin:30px 0;
		width:660px;
		font-size:0;
		.container{
			.inclinado(-16deg);
			-webkit-backface-visibility: hidden;
			height:220px;
			width:244px;
			overflow:hidden;
			margin-right:80px;
			margin-bottom:35px;
			.inline;
			a{
				.inclinado(16deg);
				width:214px;
				height:220px;
				display:block;
				position:relative;
				.transition;
				img{
					position:absolute;
					left:-32px;
					z-index:1;
				}
				.texto{
					position:absolute;
					padding:10px 17px 0 17px;
					bottom:0;
					left:-32px;
					width:227px;
					height:48px;
					line-height:170%;
					background: rgba(66,67,69,.9);
					z-index:2;
					color:#fff;
					.transition;
					.nova(16px, bold);
					line-height:120%;
					.laranja{
						.trebuchet(14px);
						position:absolute;
						right:20px;
						bottom:1px;
						color:@laranja;
					}
				}
				&:hover{
					.texto{ background-color:@azul;}
				}
			}
		}
	}
}

.main-perfil{
	width:780px;
	img{
		float:left;
		margin:0 20px 20px 0;
	}
	h1{
		.nova(25px);
		color:@laranja;
		margin-bottom:10px;
	}
	p{
		.trebuchet(14px);
		margin-bottom:10px;
		color:#3E3E3E;
		width:420px;
		margin-left:332px;
	}
}

.oficina-det{
	padding:20px;
	.skew{
		width:618px;
		.inclinado(-16deg);
		overflow:hidden;
		height:56px;
		-webkit-backface-visibility:hidden;
		h2{
			margin-left:-8px;
			padding-left:8px;
			text-indent: 55px;
			width:628px;
			height:56px;
			line-height:56px;
			.inclinado(16deg);
			.nova(19px);
			background-color:@laranja;
			color:#fff;
			.data{
				float:right;
				margin-right: 40px;
			}
		}
	}
	.vagas{
		width:385px;
		height:40px;
		margin:0 auto 20px auto;
		background-color:#F0F0F0;
		.numero{
			line-height:40px;
			padding-left:20px;
			color:@azul;
			.nova(17px);
			span{
				margin-left:5px;
				.verdana(26px);
			}
		}					
		a{
			margin-top:-43px;
			width:220px;
			text-align:center;
			height:40px;
			line-height:40px;
			float:right;
			background:@azul;
			color:#fff;
			.nova(15px);
			img{vertical-align: middle;}
			.transition;
			&:active, &:visited{color:#fff;}
			&:hover{color:@laranja;}
		}
	}
	h3{
		margin:15px 0;
		.trebuchet(16px);
		color:@azul;
	}
	.texto{
		.trebuchet(14px);
		color:#545454;
		line-height:130%;
		width:550px;
		p{ margin-bottom:10px;}
	}
	.skew-cinza{
		width:550px;
		overflow:hidden;
		-webkit-backface-visibility:hidden;
		height:78px;
		.inclinado(-16deg);
		.horario{
			margin-left:-12px;
			width:552px;
			height:58px;
			padding:10px 10px 10px 40px;
			.inclinado(16deg);
			background-color:#F0F0F0;
			.trebuchet(28px);
			line-height:100%;
			span.label{
				.trebuchet(18px);
				color:@azul;
			}
			small{
				font-size:14px;
			}
		}
	}
}