@largura:960px;

@azul:#3776BB;
@azul_escuro:#2C63A6;
@cinza:#BDBDBD;
@laranja:#F6741E;

.centralizar(@pad:0){
	width:@largura - (@pad * 2);
	padding:0 @pad;
	margin:0 auto;
}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}
.verdana(@fsize:12px, @fweight:normal){
	font-family:'Verdana','Arial',sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.opensans(@fsize:12px, @fweight:normal){
	font-family: 'Open Sans Condensed', 'Arial', 'Verdana', 'Tahoma', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.trebuchet(@fsize:12px, @fweight:normal){
	font-family: 'Trebuchet MS', 'Helvetica', 'Jamrul', 'Georgia',sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.nova(@fsize:12px, @fweight:normal){
	font-family: 'Nova Square Book', 'Arial', 'Verdana', 'Tahoma', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.source(@fsize:12px, @fweight:normal){
	font-family: 'Source Sans', 'Arial', 'Verdana', 'Tahoma', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;  
   -moz-transition:@prop @dur @type;  
   -o-transition:@prop @dur @type;  
   transition:@prop @dur @type;   
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }

.offscreen{
	display:block;
	text-indent:-999999999px;
}

.align-right{
	text-align:right;
}

.absolute(@x:0, @y:0){
	position:absolute;
	left:@x;
	top:@y;
}

.inclinado(@deg:16deg){
	-webkit-transform:skew(@deg,0);
	-moz-transform:skew(@deg,0);
	-ms-transform:skew(@deg,0);
	-o-transform:skew(@deg,0);
	transform:skew(@deg,0);	
}

.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}