#src_list, #over_list, #out_list {width:280px;}
.mceActionPanel {margin-top:7px;}
.alignPreview {border:1px solid #000; width:140px; height:140px; overflow:hidden; padding:5px;}
.checkbox {border:0;}
.panel_wrapper div.current {height:410px;}
#prev {margin:0; border:1px solid #000; width:428px; height:150px; overflow:auto;}
#align, #classlist {width:150px;}
#width, #height {vertical-align:middle; width:50px; text-align:center;}
#vspace, #hspace, #border {vertical-align:middle; width:30px; text-align:center;}
#class_list {width:180px;}
input {width: 280px;}
#constrain, #onmousemovecheck {width:auto;}
#id, #dir, #lang, #usemap, #longdesc {width:200px;}

/** Image Upload CSS **/
#library_cont{position:relative;height:288px;overflow: auto;}
    #library_cont a {display: inline-block; border: 1px #FFF solid;}
    #library_cont a.selected { border: 1px #E3E3E3 solid; }
        #library_cont img.thumb_view { padding:3px; }

.alert_ok{background:#E6EFC2 url(../img/ok.png) no-repeat 5px center;border:1px solid #C6D880;font-weight:bold;padding:8px 12px 8px 25px;margin:5px 0 10px 0;
    -moz-border-radius: 4px; -webkit-border-radius: 4px;  border-radius: 4px;}
.alert_error{background:#FBE3E4 url(../img/delete.png) no-repeat 5px center;border:1px solid #FBC2C4;font-weight:bold;padding:8px 12px 8px 25px;margin:5px 0 10px 0;
    -moz-border-radius: 4px; -webkit-border-radius: 4px;  border-radius: 4px;}
.alert_info{background:#f9f9f9 url(../img/info.png) no-repeat 5px center;border:1px solid #eee;font-weight:bold;padding:8px 12px 8px 25px;margin:5px 0 10px 0;
    -moz-border-radius: 4px; -webkit-border-radius: 4px;  border-radius: 4px;}
    
.info{background:#f9f9f9 url(../img/info.png) no-repeat 5px 7px;border:1px solid #eee;padding:8px 12px 8px 25px;margin:0px 0 5px 0;
    -moz-border-radius: 4px; -webkit-border-radius: 4px;  border-radius: 4px;}