@font-face {
    font-family: 'Nova Square Book';
    src: url('novasquare-webfont.eot');
    src: url('novasquare-webfont.eot?#iefix') format('embedded-opentype'),
         url('novasquare-webfont.woff') format('woff'),
         url('novasquare-webfont.ttf') format('truetype'),
         url('novasquare-webfont.svg#nova_squarebook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans';
    src: url('sourcesanspro-blackit-webfont.eot');
    src: url('sourcesanspro-blackit-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-blackit-webfont.woff') format('woff'),
         url('sourcesanspro-blackit-webfont.ttf') format('truetype'),
         url('sourcesanspro-blackit-webfont.svg#source_sans_problack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}